body {
    font-family: 'Roboto';

    background-color: #f3f3f3;
}

.note-card {
    display: flex;
    flex-direction: column;
    flex: 1;
}

:not(.root-note) > .note-card {
    padding: 0.4em;
    margin: 0.35em 0.35em 0.1em 0.35em;
    box-shadow: 0 6px 8px rgba(102,119,136,0.03), 0 1px 2px rgba(102,119,136,0.3);
    background-color: white;
    position: relative;
}

.note-card textarea {
    flex: 1;
    font-family: Roboto;
    border: 0px;
    margin-top: 0.5em;
}

.note-card textarea:focus {
    outline: none;
    background-color: rgb(252, 251, 235);
}


.note-card .toggle-expanded {
    transform: rotate(0deg);
    transition: transform 200ms ease-out;
    cursor: pointer;
    display: inline-block;
    color: rgb(65, 65, 65);
    user-select: none;
}

.note-card .toggle-expanded.toggled {
    transform: rotate(90deg);
}

.note-card .toggle-sort {
    transform: rotate(0deg);
    transition: transform 200ms ease-out;
    cursor: pointer;
    display: inline-block;
    color: rgb(65, 65, 65);
    user-select: none;
    padding: 0.2em;
}

.note-card .toggle-sort.toggled {
    transform: rotate(180deg);
}



/* roboto-regular - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('/fonts/roboto-v18-latin_latin-ext-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/roboto-v18-latin_latin-ext-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('/fonts/roboto-v18-latin_latin-ext-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/roboto-v18-latin_latin-ext-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('/fonts/roboto-v18-latin_latin-ext-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/roboto-v18-latin_latin-ext-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'),
       url('/fonts/roboto-v18-latin_latin-ext-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/roboto-v18-latin_latin-ext-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}