<div>
    <!-- Simple login form -->
    <style>
        .login {
            margin: 5px;
        }
    </style>

    <div class="login">
        <label>Social Login Buttons</label>
    </div>
    <div class="login">
        <div>
            <button type="button" class="btn btn-block btn-primary" ng-click="$ctrl.btnGithub()">Github</button>
        </div>
        <div>
            <button type="button" class="btn btn-block btn-primary" ng-click="$ctrl.btnGoogle()">Google</button>
        </div>
        <div>
            <button type="button" class="btn btn-block btn-primary" ng-click="$ctrl.btnSlack()">Slack</button>
        </div>
        <button class="btn btn-block btn-danger" id="btnTestSubmit">Test</button>
    </div>

</div>