
<div>
    <label>
        Title:
        <input type='text' ng-model='$ctrl.note.title'>
    </label>
    <label>
        <input type='checkbox' ng-model='$ctrl.editMode' ng-blur='$ctrl.noteControls.save()' />
        Edit
    </label>
    <div>
        <form>
            <button class="btn btn-block btn-danger" ng-click="$ctrl.btnSave($ctrl.imageSrc)">Save</button>
            <input type="file" ng-file-select="$ctrl.onFileSelect($imageSrc)" ng-model="$ctrl.imageSrc">
        </form>
        <div>
            <img ng-src="{{$ctrl.imageSrc}}" />
        </div>
        <div>
           <!--<img data-ng-src="{{image.imageSrc}}" />-->
            <a ng-href="{{ fileUrl }}" download="file.txt">download this image(click btnSave first)</a>
        </div>
    </div>
</div>

<div ng-if='$ctrl.editMode' class='editor'>
    <textarea spellcheck="false"
              ng-model='$ctrl.note.body'
              placeholder='Enter Paste description'
              ng-blur='$ctrl.noteControls.save()'></textarea>
</div>
<div ng-if='!$ctrl.editMode' ng-bind-html="$ctrl.svg"></div>
<div class='rendering' ng-if='$ctrl.rendering'>Rendering...</div>
<div class='error'>{{$ctrl.errorMessage}}</div>

<!--- Developer: Ralph_Fonz-->