<div class="container body-content">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.btnGetAll()">GetAll</button>

    <!-- Lower Container -->
    <table>
        <tbody>
            <tr class="row listedItems" ng-repeat="row in $ctrl.items">
                <td class="textColor">User ID: <span>{{row.id}} </span></td>
                <td class="textColor">Service Name: <span>{{row.serviceName}} </span></td>
                <td class="textColor">User Token: <span>{{row.token}} </span></td>
                <td><button class="btn btn-primary" ui-sref='tokenGetById({id: row.id})'>Modify</button></td>
                <td><button class="btn btn-danger" ng-click="$ctrl.btnDelete($index)">Delete</button></td>
                <!--<td><button class="btn btn-primary" ng-click="$ctrl.clickyCurrent(items);">Modify</button></td>-->
            </tr>
        </tbody>
    </table>
</div>