<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - Sabio</title>
    <!-- ==================== <Styling> ======================== -->
    <link href="../../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../../Content/Site.css" rel="stylesheet" />
    <script src="../../modernizr-2.8.3.js"></script>
    <link href="token.css" rel="stylesheet" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!-- ======================================================= -->
</head>

<body ng-app="TokenData">
    <!-- Nav bar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Lets Control Tokens</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/Home/About">About</a></li>
                    <li><a href="/Home/Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
    <div class="container body-content" ng-controller="TokenController as t">
        <div class="jumbotron clearfix">
            <!-- Left Side -->
            <div class="column menu">
                <!-- Data control buttons -->
                <div class="buttons inputsMove">
                    <button class="btn btn-primary" type="button" ng-click="t.getAll">GetAll</button>
                    <button class="btn btn-warning" type="button" ng-click="t.update">Update</button>
                    <button class="btn btn-danger" type="button" ng-click="t.delete">Delete</button>
                </div>
                <div class="inputsMove">
                    <label>User Id</label>
                </div>
                <div class="inputsMove">
                    <input type="text" id="userIdInput" ng-model="t.id" placeholder="{{t.id}}" />
                </div>
                <!-- Sign in Buttons -->
                <div class="serviceButtons inputsMove">
                    <button class="btn signInButton" type="button" ng-click="t.getAll"><a src="/pics/google.png"><img width="30px" height="30px" src="pics/google.png"></a> Google</button>
                    <button class="btn signInButton" type="button" ng-click="t.update"><img width="30px" height="30px" src="pics/slack.png"> Slack</button>
                    <button class="btn signInButton" type="button" ng-click="t.delete"><img width="30px" height="30px" src="pics/github.png"> GitHub</button>
                </div>
                <div class="inputsMove">
                    <input type="text" id="userServiceInput" ng-model="t.serviceName" placeholder="{{t.serviceName}}" />
                </div>
                <div class="inputsMove">
                    <label>Token</label>
                </div>
                <div class="inputsMove">
                    <input type="text" id="userTokenInput" ng-model="t.token" placeholder="{{t.token}}" />
                </div>
            </div>
            <!-- Right side -->
            <div class="column content">
                <!-- list url -->
                <p>Example URL:<span></span></p>
                <pre>{{c|json}}</pre>
            </div>
        </div>
        <!-- Lower Container -->
        <div class="row listedItems" ng-controller="listController as l">
            <div class="col-md-4">
                <h3 class="h3Text">ID: <span ng-model="l.listId"></span></h3>
            </div>
            <div class="col-md-4">
                <h3 class="h3Text">Service Name: <span ng-model="l.listServiceName"></span></h3>
            </div>
            <div class="col-md-4">
                <h3 class="h3Text">Token: <span ng-model="l.listToken"></span></h3>
            </div>
            <div class="col-md-4">
                <h3 class="h3Text">Date Created: </h3>
            </div>
            <div class="col-md-4">
                <h3 class="h3Text">Date Modified: </h3>
            </div>
        </div>
        <hr />
    </div>
    <!-- ================= < Scripts > ================= -->
    <script src="../../jquery-3.1.1.js"></script>
    <script src="../../bootstrap.js"></script>
    <script src="../../respond.js"></script>
    <!-- =============================================== -->
</body>

</html>