<div class='note-card'>
    <div class='controls'>
        <button ng-click='$ctrl.addChildNote()'>+</button>
        <button ng-if='$ctrl.note.id !== 0' ng-click='$ctrl.deleteThisNote()'>X</button>

        <span
            ng-if='$ctrl.note.id !== 0'
            class='toggle-expanded'
            ng-class='{toggled: $ctrl.expanded}'
            ng-click='$ctrl.expanded = !$ctrl.expanded'
            title='Expand child notes'
            >&#9658;</span>

        <span
            ng-click='$ctrl.sortDesc = !$ctrl.sortDesc'
            class='toggle-sort'
            ng-class='{toggled: $ctrl.sortDesc}'
            title='Change child-note sort direction'
            >&#8673;</span>

        <label ng-if='$ctrl.note.id !== 0'>
            Type:
            <select ng-model='$ctrl.note.type'>
                <option value='text'>Text</option>
                <option value='graphviz'>Graphviz</option>
            </select>
        </label>

        <a ng-if='$ctrl.note.id !== 0' ui-sref='note({ id: $ctrl.note.id })'>{{$ctrl.note.id}}</a>

        <span>Created: {{$ctrl.note.dateCreated}}</span>
        <span>Modified: {{$ctrl.note.dateModified}}</span>
    </div>

    <div ng-if='$ctrl.note.id !== 0' ng-switch='$ctrl.note.type'>
        <note-editor-text ng-switch-when='text' note='$ctrl.note' on-save='$ctrl.saveNote()'></note-editor-text>
        <note-editor-graphviz ng-switch-when='graphviz' note='$ctrl.note' on-save='$ctrl.saveNote()'></note-editor-graphviz>
    </div>

    <div>
        <note-card
            ng-repeat='note in $ctrl.notes | orderBy:"+":$ctrl.sortDesc'
            note='note'
            on-deleted='$ctrl.childNoteDeleted($index)'>
        </note-card>
    </div>
</div>
